body {
  background: #8e44ad;
  font-family: 'Open Sans', sans-serif;
  color: #ecf0f1;
  padding: 20px;

}

.header {
  display: flex;
  align-items: center;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #fff;
}

.profil-img {
  border-radius: 50%;
  margin-right: 20px;
}

.nav ul li{
  display: inline-block;
  margin-left: 10px;
}

.nav ul li a {
  color: #fff;
}